{% extends 'cart/header.html' %}
{% block title %}Contact | Contact{% endblock %}
{% block body %}
{% endblock %}
{% block content %}
<div class="container mb-4 bg-body shadow p-5">
    <div class="row">
        <!--Grid column-->
        <div class="col-md-9 mb-md-0 mb-5 bg-info p-5">
            <form action="/contactUs/" method="post">
                {% csrf_token %}
                <div class="text-center">
                    <h2 class="display-5 text-center">Contact us</h2>
                    <p class="text-center fs-5 mx-auto mb-5 fst-italic align-self-center">Do you
                        have any questions?<br> Please do not hesitate to contact us directly.<br> Our team will come
                        back to you within a matter of hours to help you.</p>
                </div>
                <!--Grid row-->
                <div class="row">
                    <!--Grid column-->
                    <div class="col-md-6 mb-4">
                        <div class="md-form mb-0">
                            <input type="text" id="name" name="name" class="form-control" placeholder="Your name.."
                                required>
                        </div>
                    </div>
                    <!--Grid column-->
                    <!--Grid column-->
                    <div class="col-md-6 mb-4">
                        <div class="md-form mb-0">
                            <input type="text" id="email" name="email" class="form-control" placeholder="Your email.."
                                required>
                        </div>
                    </div>
                    <!--Grid column-->
                </div>
                <!--Grid row-->
                <!--Grid row-->
                <div class="row">
                    <div class="col-md-12 mb-4">
                        <div class="md-form mb-0">
                            <input type="text" id="subject" name="subject" class="form-control" placeholder="Subject.."
                                required>
                        </div>
                    </div>
                </div>
                <!--Grid row-->
                <!--Grid row-->
                <div class="row">
                    <!--Grid column-->
                    <div class="col-md-12 mb-4">
                        <div class="md-form">
                            <textarea type="text" id="message" name="message" rows="2" class="form-control md-textarea"
                                placeholder="Write your message here..." required></textarea>
                        </div>
                    </div>
                </div>
                <!--Grid row-->
                <div class="text-center">
                    <button class="btn btn-dark col-md-12 px-5" type="submit">Send</button>
                </div>
            </form>
            <div class="status"></div>
        </div>
        <!--Grid column-->
        <!--Grid column-->
        <div class="col-md-3 text-center align-self-center">
            <ul class="list-unstyled mb-0">
                <li><i class="fas fa-map-marker-alt fa-2x text-danger"></i>
                    <p>Dixit Colony, Bhilai 490020,<br> CG, India</p>
                </li>
                <li><i class="fas fa-phone mt-4 fa-2x text-danger"></i>
                    <p>+ 91-7000610175</p>
                </li>
                <li><i class="fas fa-envelope mt-4 fa-2x text-danger"></i>
                    <p>droppers.service@gmail.com</p>
                </li>
                <li><i class="fas fa-user-tie mt-4 fa-2x text-danger"></i>
                    <p>Monday-Sunday <br> 9.00am to 10:30pm</p>
                </li>
            </ul>
        </div>
        <!--Grid column-->
    </div>
</div>
<script>
    document.getElementById("ContactPage").classList.add("active");
    function myFunction() {
        location.href = localStorage.getItem('homeLink');
    }
</script>
{% endblock %}